.Wrapping{
  position: relative;
}
.Wrapping img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  background-repeat: repeat;
  
}
*{
  padding: 0;
  margin: 0;
}
.App {
  text-align: center;
  color: #f3f3f3;
}

.planets-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}

.planet-card {
  width: 300px;
  margin: 16px;
  padding: 16px;
  text-align: left;
  border: 1px solid #ffffff;
  border-radius: 8px;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(30px);
}

.load-more-btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background: rgb(66, 3, 15);
  border: 2px solid crimson;
  color: white;
}

.load-more-btn:hover {
  color: crimson;
  background: none;
}

h3 {
  margin-top: 0;
}

.residents-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.resident-item {
  margin: 8px 0;
  padding: 8px;
  border: 1px solid #ffffff;
  border-radius: 4px;
}

.resident-details {
  display: flex;
  justify-content: space-between;
}

.resident-name {
  font-weight: bold;
}

.resident-info {
  margin-left: 8px;
}

.loader {
  width: 20px;
  height: 20px;
  margin: 0 auto;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background: rgba(255, 255, 255, 0.8);
}
.resident-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 8px;
}

.resident-table th,.resident-table td {
  padding: 8px;
  border: 1px solid #ffffff;
  text-align: left;
}
.Name{
  text-align: center;
  font-size: 30px;
}
.Condition{
  font-size: 20px;
  font-weight: 100;
}
.Wars{
  margin-top: 1px;
  padding-top: 10px;
}
.Data{
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}